<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="normalize.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <title>BEAUTY</title>
</head>
<body>
<header>

    <div class="menu">
        <div class="container">
            <div class="menu__list">
                <ul>
                    <li><a href="">Доставка</a></li>
                    <li><a href="">Оплата</a></li>
                    <li><a href="">Отзывы</a></li>
                    <li><a href="">Вопрос-ответ</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="feedback">
        <div class="container">
            <div class="logo">

                <img  src="images/header/logo.png" alt="logo">
                <h2>BEAUTY</h2>
            </div>
            <div class="phone">
                <p>8 (812) 123-45-67</p>
                <button class="callback">Обратный звонок</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="priority">
        <div class="container">
            <img  class="hidden" src="images/header/menu.png">
            <ul>
                <li><a href="">Парикмахерская</a></li>
                <li><a href="">Барбершоп</a></li>
                <li><a href="">Маникюр</a></li>
                <li><a href="">Педикюр</a></li>
                <li><a href="">Массаж</a></li>
                <li><a href="">Мебель</a></li>
            </ul>
        </div>
    </div>

</header>
<main>
    <section class="main__header">
        <div class="container">
            <div class="main__header-desc">
                <h1>Супер кресло</h1>
                <p>Текст акции всегда отражает суть, а&nbsp;не&nbsp;просто
                    болтовню, поэтому внимательнее</p>
                <button>Подробнее</button>
            </div>

            <div class="main__header-img">

                <img class="hidden__main__header" src="images/header/mainImage/armchairBackground.png" alt="armchair">
            </div>
        </div>

    </section>
    <section class="cards">
        <div class="container">
            <h3>Специальные предложения</h3>
            <div class='wrap'>
            <div class="card">
                <img src="images/cards/chair.jpg" alt="chair">
                <p>Парикмахерское кресло &laquo;Норм&raquo; гидравлическое</p>
                <h3>9&nbsp;900&nbsp;₽</h3>
                <button type="reset">Купить</button>
            </div>
            <div class="card">
                <img src="images/cards/chair.jpg" alt="chair">
                <p>Парикмахерское кресло &laquo;Норм&raquo; гидравлическое</p>
                <h3>9&nbsp;900&nbsp;₽</h3>
                <button type="reset">Купить</button>
            </div>
            <div class="card">
                <img src="images/cards/chair.jpg" alt="chair">
                <p>Парикмахерское кресло &laquo;Норм&raquo; гидравлическое</p>
                <h3>9&nbsp;900&nbsp;₽</h3>
                <button type="reset">Купить</button>
            </div>
            <div class="card">
                <img src="images/cards/chair.jpg" alt="chair">
                <p>Парикмахерское кресло &laquo;Норм&raquo; гидравлическое</p>
                <h3>9&nbsp;900&nbsp;₽</h3>
                <button type="reset">Купить</button>
            </div>
            </div>

        </div>
    </section>
    <section class="benefits">
        <div class="container">
            <div class="benefits-form">
                <div class="benefits-form-preview">
                    <h4>Получайте бонусы и&nbsp;подарки</h4>
                    <p>Каждый месяц разыгрываем
                        10&nbsp;000 рублей для наших клиентов</p>
                    <input type="text" placeholder="Введите e-mail">
                </div>
                <img src="images/form/address.png" alt="address">
            </div>
            <div class="benefits-map">
                <div class="benefits-map-preview">
                    <h4>Заходите к&nbsp;нам</h4>
                    <p>Более 300 магазинов
                        по&nbsp;всей России</p>
                    <button type="reset">Карта магазинов</button>
                </div>

            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <aside>
            <div class="footer_socials">
                <div><a href=""><img src="images/social/youTub.png" alt="youTub"></a></div>
                <div><a href=""><img src="images/social/vk.png" alt="vk"></a></div>
                <div><a href=""><img src="images/social/facebook.png" alt="facebook"></a></div>
                <div><a href=""><img src="images/social/instagram.png" alt="instagram"></a></div>
            </div>
            <div class="footer__feedback">
                <p>198555, Невский пр.&nbsp;140, офис 140</p>
                <p>8 (812) 123-45-67</p>
                <button type="submit">Обратный звонок</button>
            </div>
        </aside>
    </div>
        <div class="footer__copyright">
            <div class="container">
            <p>Лучший магазин &copy;&nbsp;2019 Все права защищены.
                Интернет-магазин оборудования для салонов красоты</p>
            <p>Политика конфиденциальности</p>
        </div>
        </div>
</footer>
</body>
</html>