<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="fonts/LabGrotesque/style.css" rel="stylesheet" type="text/css">
    <link href="fonts/ScaniaSans/style.css" rel="stylesheet" type="text/css">
    <link href="fonts/LabGrotesqueThin/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="normalize.css" type="text/css">
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>BIOFIREPLACES</title>
</head>
<body>
<header>
    <section class="menu">
        <div class="container menu__container">
            <div class="logo">
                <h5 class="large__font-logo">Elite Fire</h5>
                <p class="small__font-logo">Автоматические<br>биокамины</p>
            </div>
            <div class="list__menu">
                <ul>
                    <li><a href="#">Продукция</a></li>
                    <li><a href="#">Конструктор</a></li>
                    <li><a href="#">Опыт</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li>
                        <div class="list__menu__last"><a href="#">
                            <img class="menu__phone" src="images/header/icons/phone.png" alt="phone">
                            <img class="menu__phoneBlur" src="images/header/icons/phoneBlure.png" alt="phoneBlur">
                        </a></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="banner">
        <div class="container">
            <div class="banner-text">
                <div class="banner-text__title">
                    <h1>Автоматические<br>биокамины</h1>
                </div>
                <div class="banner-text__price">
                    <p>от</p>
                    <h2>99 000₽</h2>
                </div>
                <div class="banner-text__icons">
                    <div>
                        <img class="banner__fireplace" src="images/header/icons/gear.png" alt="gear">
                        <p>Свое<br> производство</p>
                    </div>
                    <div>
                        <img src="images/header/icons/airplane.png" alt="airplane">
                        <p>Доставка в&nbsp;любую<br> точку мира</p>
                    </div>
                </div>
            </div>
            <div class="banner-image">
                <img class="banner-image__fireplace" src="images/header/fireplace.png" alt="fireplace">
                <img class="banner-image__fireplace-shadow" src="images/header/fireplaceShadow.png"
                     alt="fireplaceShadow">
            </div>
        </div>
    </section>
</header>
<main>
    <section class="slogan">
        <div class="container">
            <h2 class="slogan__title"> Настоящий высокий огонь<br> у&nbsp;вас дома</h2>
            <h5 class="slogan__text">Благодаря специальной технологии горения биоэтанола<br>
                мы&nbsp;добились горения потрясающей красоты</h5>
            <img class="slogan__image" src="images/features/fireplaceFeatures.png" alt="fireplaceFeatures">
            <img class="slogan__img" src="images/features/shadowFireplaceFeatures.png" alt="shadowFireplaceFeatures">
            <div class="slogan__icons">
                <div class="slogan__icons__fire">
                    <img src="images/features/icons/fair.png" alt="fair">
                    <p class="slogan__fire-text">Пламя яркое, высотой<br>
                        до&nbsp;20&nbsp;сантиметров</p>
                </div>
                <div class="slogan__icons__aqua">
                    <img src="images/features/icons/aqua.png" alt="aqua">
                    <p class="slogan__aqua-text">Работает такой камин<br>
                        на&nbsp;биотопливе</p>
                </div>
                <div class="slogan__icons__close">
                    <img src="images/features/icons/close.png" alt="close">
                    <p class="slogan__close-text">Он&nbsp;не&nbsp;дымит и&nbsp;не&nbsp;пахнет</p>
                </div>
            </div>
        </div>
    </section>
    <section class="desc">
        <div class="container">
            <div class="desc__block-text">
                <div class="desc__title">
                    <h2>заправка</h2>
                    <img src="images/features/shadowText.png" alt="shadowText">
                    <div class="desc__title-text">
                        <h5>Внутри не&nbsp;просто труба. Спроектированный нами бак, самого большого обьема среди всех
                            производителей</h5>
                        <h5> В&nbsp;наши топливные блоки встроен мощный насос.</h5>
                    </div>
                </div>

            </div>
            <div class="desc__image-background">
                <div class="desc__image">

                    <div class="desc__image-label">
                        <h3>3,5</h3>
                        <p>минуты</p>
                        <p>и&nbsp;бак наполнен<br> на&nbsp;100%</p>
                    </div>
                    <img class="desc__image-label__shadow" src="images/features/shadowRefill.png" alt="shadowRefill">

                    <img class="desc__image-label__shadowRefillLabel" src="images/features/shadowRefillLabel.png"
                         alt="shadowRefillLabel">
                </div>
            </div>
        </div>
        <div class="desc__icons">
            <div class="container">
                <div class="desc__icons-block">
                    <div class="desc__icons-block__img">
                        <img src="images/features/icons/hose.png" alt="hose">
                        <img src="images/features/icons/Line.png" alt="Line">
                        <img src="images/features/icons/power.png" alt="power">
                    </div>
                    <p>Достаточно вставить шланг<br> Нажать кнопку</p>
                </div>
            </div>
        </div>

    </section>
    <section class="benefits">
        <div class="container">
            <h2>Умный камин &mdash; очень умный</h2>
            <h5>Даже если у&nbsp;Вас нет своего решения по&nbsp;умному дому.</h5>
            <h5> Мы&nbsp;отлично ладим с&nbsp;Яндекс.Алиса и&nbsp;Mi&nbsp;Home.</h5>
        </div>
        <div class="benefits__text">
            <p>Яндекс.Алиса</p>
            <p>Mi Home Xiaomi</p>
        </div>

    </section>
    <section class="sliders">
        <div class="container">
            <div class="sliders__desc-first">
                <div class="sliders__desc-img">
                    <h4>Топливный блок</h4>
                    <p>Лицевая панель из&nbsp;жаропрочной нержавеющей стали толщиной 5&nbsp;мм</p>
                    <hr>
                    <img class="sliders__desc-img__line" src="images/features/line.png">
                    <img class="sliders__panel-fireplace" src="images/features/PanelFireplace.png" alt="PanelFireplace">
                    <img class="sliders__desc-shadow" src="images/features/shadowPanelFireplace.png"
                         alt="shadowPanelFireplace">
                </div>
                <h5>Варианты отделки</h5>
                <div class="sliders__desc-list">
                    <ul>
                        <li>черный матовый</li>
                        <li>шлифованная сталь</li>
                    </ul>
                    <ul>
                        <li>керамика</li>
                        <li>нитрид титана</li>
                    </ul>
                </div>

                <h5> Стандартная комплектация</h5>
                <div class="sliders__desc-list">
                    <ul>
                        <li>Управление с кнопок</li>
                        <li>С помощью пульта</li>
                        <li>Умный дом</li>
                        <li>Безшумность</li>
                        <li>Датчик С02</li>
                        <li>Датчик пролива</li>
                    </ul>
                    <ul>
                        <li>Датчик температуры</li>
                        <li>Датчик наклона</li>
                        <li>Дисплей</li>
                        <li>Индикатор уровня топлива</li>
                        <li>Блокировка залива топлива</li>
                        <li>Кнопка отключения от сети на лицевой панели</li>
                    </ul>
                </div>

            </div>
            <div class="sliders__desc">
                <h4>Готовые решения</h4>
                <p>Напольные отдельно стоящие камины.<br>
                    Настенные очаги которые вешаются как ТВ. Подвесные модели.</p>
                <div class="sliders__desc-image-first">
                    <img class="sliders__desc-image__fireplace" src="images/features/fireplaceFeatures.png" width="500"
                         alt="fireplaceFeatures">
                    <img class="sliders__desc-arrowLeft__first" src="images/features/icons/arrowLeft.png" alt="">
                    <img class="sliders__desc-arrowRight__first" src="images/features/icons/arrowRight.png" alt="">
                </div>
            </div>
            <div class="sliders__desc">
                <h4>Очаги для встраивания в&nbsp;нишу по&nbsp;Вашим размерам</h4>
                <p>Короб выполненый из&nbsp;нержавеющей стали 2&nbsp;мм или холоднокатанной стали 3&nbsp;мм <br>
                    Окрашен кремнийорганической и&nbsp;акриловой краской<br>
                    Каждый комплектуется керамическим матом<br>
                    Лучшая теплоизолированость из&nbsp;доступных<br>
                    Изготавливается исключительно под Ваши размеры<br>
                    Наши технологи спроектируют техническое задание для ниши учитывая<br>
                    особенности Вашего ремонта.<br>
                    Размер ограничен только Вашей фантазией<br>
                    Отделка стемалитом и&nbsp;цветными металлами</p>
                <div class="sliders__desc-image-second">
                    <img class="sliders__desc-image__fireplace" src="images/features/fireplaceFeatures.png" width="500"
                         alt="fireplaceFeatures">
                    <img class="sliders__desc-arrowLeft" src="images/features/icons/arrowLeft.png" alt="">
                    <img class="sliders__desc-arrowRight" src="images/features/icons/arrowRight.png" alt="">
                </div>
            </div>

            <div class="sliders__desc">
                <h4>Аксессуары</h4>
                <p>Защитные экраны, Дверцы, Стемалит, Дрова,<br>
                    Камни, Кастомные пульты</p>
                <div class="sliders__desc-image">
                    <img class="sliders__desc-image__fireplace" src="images/features/fireplaceFeatures.png" width="500"
                         alt="fireplaceFeatures">
                    <img class="sliders__desc-arrowLeft" src="images/features/icons/arrowLeft.png" alt="arrowLeft">
                    <img class="sliders__desc-arrowRight" src="images/features/icons/arrowRight.png" alt="arrowRight">
                </div>
            </div>
        </div>
    </section>
    <section class="gallery">
        <div class="container">
            <h3>Получите каталог с моделями и ценами на всю нашу продукцию</h3>
            <div class="gallery__button">
                <button type="button">Получить каталог!</button>
                <img class="gallery__buttonShadowTop" src="images/gallery/buttonShadowTop.png" alt="buttonShadowTop">
                <img class="gallery__buttonShadowBottom" src="images/gallery/buttonShadowBottom.png"
                     alt="buttonShadowBottom">
            </div>
            <h2 class="gallery__block-title">Есть задача? Есть решение!</h2>
            <div class="gallery__block">
                <div class="gallery__card"><img src="images/features/fireplaceFeatures.png" alt="fireplaceFeatures"
                                                width="250"></div>
                <div class="gallery__card"><img src="images/features/fireplaceFeatures.png" alt="fireplaceFeatures"
                                                width="250"></div>
                <div class="gallery__card"><img src="images/features/fireplaceFeatures.png" alt="fireplaceFeatures"
                                                width="250"></div>
            </div>
            <h2 class="gallery__block-title__last">Почемы мы можем многое?<br>
                Свои люди. Свои станки. Своя лаборатория</h2>
            <div class="gallery__block">
                <div class="gallery__card"><img src="images/features/fireplaceFeatures.png" alt="fireplaceFeatures"
                                                width="250"></div>
                <div class="gallery__card"><img src="images/features/fireplaceFeatures.png" alt="fireplaceFeatures"
                                                width="250"></div>
                <div class="gallery__card"><img src="images/features/fireplaceFeatures.png" alt="fireplaceFeatures"
                                                width="250"></div>
            </div>
        </div>
    </section>
    <section class="set">
        <div class="container">
            <h2>вы автор вашего камина</h2>
            <div class="set__control">
                <div class="set__control-image">
                    <img src="images/benefits/fireplaceBackground.png" alt="fireplaceBackground">
                </div>
                <div class="set__control-bar">
                    <p>Выберите длину</p>
                    <div class="set__control-bar__flex">
                        <h5>0.5 м</h5>
                        <input class="set__control-range" type="range">
                        <h5>10 м</h5>
                    </div>
                    <p>Лицевая панель</p>
                    <div class="set__control-bar__flex__slider">
                        <img src="images/features/icons/arrowLeft.png" alt="arrowLeft">
                        <img src="images/benefits/miniatures/slider.jpg" alt="slider">
                        <img src="images/features/icons/arrowRight.png" alt="arrowRight">
                    </div>
                    <div class="set__control-bar__pagination">
                        <img src="images/benefits/miniatures/paginationGrey.png" alt="pagination">
                        <img src="images/benefits/miniatures/paginationGrey.png" alt="pagination">
                        <img src="images/benefits/miniatures/paginationGrey.png" alt="pagination">
                        <img src="images/benefits/miniatures/paginationGrey.png" alt="pagination">
                    </div>
                    <p>дополнительные функции</p>

                    <div class="set__control-bar__flex__shield">
                        <div class="set__control-checkbox">
                            <input class="set__input-checkbox" type="checkbox" id="1" checked>
                            <label class="set__label-checkbox" for="1">Защита от детей</label>
                        </div>
                        <div class="set__control-checkbox">
                            <input class="set__input-checkbox" type="checkbox" id="2">
                            <label class="set__label-checkbox" for="2">Защита от детей</label>

                        </div>
                    </div>
                    <div class="set__control-bar__flex__net">
                        <div class="set__control-checkbox">
                            <input class="set__input-checkbox" type="checkbox" id="3">
                            <label class="set__label-checkbox__net" for="3">Wi-Fi</label>
                        </div>
                        <div class="set__control-checkbox">
                            <input class="set__input-checkbox" type="checkbox" id="4">
                            <label class="set__label-checkbox__net__last" for="4">Wi-Fi</label>
                        </div>
                    </div>
                    <div class="set__control-bar__flex__shield">
                        <div class="set__control-checkbox">
                            <input class="set__input-checkbox" type="checkbox" id="5">
                            <label class="set__label-checkbox" for="5">Защита от детей</label>
                        </div>
                        <div class="set__control-checkbox">
                            <input class="set__input-checkbox" type="checkbox" id="6">
                            <label class="set__label-checkbox" for="6">Защита от детей</label>
                        </div>
                    </div>
                    <div class="set__control-bar__flex__net">
                        <div class="set__control-checkbox">
                            <input class="set__input-checkbox" type="checkbox" id="7">
                            <label class="set__label-checkbox__net" for="7">Wi-Fi</label>
                        </div>
                        <div class="set__control-checkbox">
                            <input class="set__input-checkbox" type="checkbox" id="8">
                            <label class="set__label-checkbox__net__last" for="8">Wi-Fi</label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="set__total">
                <div>
                    <p>длина</p>
                    <h4>6.5 м</h4>
                </div>
                <div>
                    <p>лицевая панель</p>
                    <img src="images/benefits/miniatures/point.png" alt="point">
                </div>
                <div>
                    <p>стоимость</p>
                    <h3>99 000₽</h3>
                </div>
                <div>
                    <button>Оставить заявку</button>
                    <img class="set__buttonShadow" src="images/set/buttonShadow.png" alt="buttonShadow">
                </div>
            </div>
        </div>
    </section>
    <section class="feedback">
        <div class="container">
            <h2>связаться с нами</h2>
            <div class="feedback__block">
                <div>
                    <p>WhatsApp</p>
                    <h5>+7911 306 4144</h5>
                    <p> Телеграмм</p>
                    <h5>@elite_fire</h5>
                </div>
                <div>
                    <p>Почта</p>
                    <h5 class="feedback__block-yellow">info@elite-fire.ru</h5>
                    <p>Наш адрес</p>
                    <h5>Россия, г. Москва,<br>
                        Варшавское шоссе, 170 г
                    </h5>
                </div>
                <div>
                    <p>Телефон</p>
                    <h3>8 911 306 4144</h3>
                    <button>Связаться с менеджером</button>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <p class="large__font-logo">Elite<br> Fire</p>
        <p>2020-2021</p>
        <p>ООО “МЕТАЛЛЭЛЕКТРОИНВЕСТ”</p>
        <a href="#">Пользовательское соглашение</a>
    </div>
</footer>
</body>
</html>