@import "module/vars";
@import "module/mixin";

* {
  padding: 0;
}

body {
  width: 100vw;
  font-family: 'Roboto', 'sans-serif';

}

h1 {
  @include fonts(700, 48px, 56px);
  color: #FFFFFF;
}

h2 {
  @include fonts(700, 36px, 42px);
  letter-spacing: 0.1em;
  color: $green-color;
  padding-left: 5%;
}

h3 {
  @include fonts(700, 24px, 28px);
  color: #000000;
}

h4 {
  @include fonts(700, 19px, 21px);
  color: #FFFFFF;
}

a, p {
  font-size: 16px;
}

p {
  @include fonts(0, 16px, 19px);
  color: #000000;
}

button, a {
  cursor: pointer;
}

button, input {
  padding: 12px 27px;
  border-radius: 40px;
  background-color: $white-color;
  border-color: transparent;
}

::placeholder {
  @include fonts(400, 14px, 16px);
  text-align: start;
  color: #C4C4C4;
}

header {
  margin-top: -21px;
}

.hidden, .hidden__main__header {
  display: none;
}

.container {
  margin: 0 11%;
}

.menu {
  background-color: $grey-color;

  &__list {
    width: 100%;
    height: 50px;

    & a {
      color: #333333;
    }

    & ul {
      @include position(flex, space-around);
      align-items: center;
      padding: 15px 30%;
    }
  }

}

.feedback > .container {
  @include position();
  align-items: center;
}

.feedback ul {
  display: flex;
}

.logo {
  @include position();
  align-items: center;
}

.phone {
  width: 25vw;
  @include position(flex, space-around);
  align-items: center;
}

.callback {
  padding: 12px 27px;
  border: 2px solid $green-color;
  border-radius: 40px;
  background-color: $white-color;
}

.priority {
  & ul {
    @include position(flex, space-around);
    align-content: flex-start;
    align-items: center;
    padding: 0 20%;
    margin-bottom: 30px;
  }

  a {
    @include fonts(400, 16px, 19px);
    color: #000000;
  }
}


hr {
  border: 1px solid #EFEFEF;
  margin: 20px 0 30px;
}

.main__header {
  background: url("../images/header/mainImage/armchair.jpg");
  background-size: cover;
  height: 60vh;

  &-desc {
    //padding-top: 192px;
    width: 30%;
    margin-right: -10%;

    & p {
      color: $white-color;
      line-height: 20px;
      padding: 50px 0;
    }

    & button {
      background-color: transparent;
      color: $white-color;
      border: 2px solid $white-color;
    }
  }

  &-img {
    margin-right: -10%;
  }
}


.main__header > .container {
  @include position();
}

.cards {
  background: $grey-color;
  padding: 7vh 0 100px 0;
  margin-bottom: -1px;
}

.cards > .container > .wrap {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 0.5fr;
  gap: 16px 4%;
  grid-template-areas:
    ". . . .";
  justify-content: start;
  align-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.card {
  background: $white-color;
  text-align: center;
  padding: 25px;

  & button {
    padding: 0 29%;
    color: $white-color;
    background: $green-color;
    border-color: transparent;
  }
}

.benefits {
  padding: 7vh 0 9vh 0;
  background: $grey-color;

  & p {
    color: $white-color;
  }

  & > .container {
    @include position();
  }

  &-form {
    width: 40%;
    background: $green-color;
    display: flex;
    padding: 35px 4%;

    &-preview p {
      padding-right: 22%;
      padding-bottom: 25px;
    }

    &-preview input {
      width: 60%;
    }

    & img {
      padding: 34px 0;
    }
  }

  &-map {
    width: 40%;
    background: $green-color;
    display: flex;
    padding: 35px 4%;

    &-preview p {
      width: 60%;
      padding-bottom: 25px;
    }

    &-preview button {
      color: $white-color;
      background: $green-color;
      border: 2px solid $white-color;
    }
  }
}


footer {
  padding-top: 2%;
}

aside, .footer_socials, .footer__feedback {
  display: flex;
  align-items: center;
}

aside {
  justify-content: space-between;
  padding-bottom: 2%;
}

.footer_socials {
  justify-content: space-between;

  & img {
    width: 15px;
    height: 15px;
  }

  & div {
    padding: 10px 15px;
    border-radius: 50%;
    border: 2px solid $green-color;
  }

  & div:not(:first-child) {
    margin-left: 18%;
  }
}

.footer__feedback {
  width: 60%;
  justify-content: space-between;

  & button {
    border: 2px solid $green-color;
    background-color: $white-color;
  }
}

.footer__copyright {
  background: $grey-color;

  & > .container {
    @include position();
  }
}

/* Адаптив*/
@media (max-width: 1024px) {
  .menu__list ul {
    padding: 15px 15vw;
  }
  .phone {
    width: 40vw;
  }
  .priority ul {
    padding: 0 0;
  }
  .main__header {
    height: 49vh;
  }
  .cards> .container > .wrap {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: 45% 45%;
    grid-template-rows: 0.5fr;
    gap: 70px 10%;
    grid-template-areas:
         ". ."
         ". .";
    justify-content: start;
    align-content: space-between;
    align-items: center;
  }
  .footer__feedback p, .footer__feedback button, .footer__copyright> .container p {
font-size: 12px;
  }

}

@media (max-width: 768px) {
  .main__header {
    background-color: $green-color;
  }
  .container {
    width: 100%;
    margin: 0 0;
  }

  .menu__list ul {
    padding: 15px 0%;
  }

  .feedback {
    padding-top: 2vh;
    margin: 0 5% -4vh 5%;

  }

  .logo {
    align-items: flex-start;
    flex-direction: column;
  }

  .phone {
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
  }

  .priority {
    padding: 0 0;

    & ul {
      justify-content: space-between;
      padding: 0 5%;
      margin-bottom: 1vh;
    }
  }

  .main__header {
    height: auto;
    padding: 0 0 7vh 5%;
    margin-bottom: -0.5vh;

    &-desc {
      padding-top: 0;
      width: 50%;

      & p {
        padding: 0 0;
        margin-top: -20px;
      }
    }

    &-img {
      margin-right: -63%;

      & img {
        width: 45%;
      }
    }
  }

  .cards {
    padding: 3vh 5%;

    & > .container > .wrap {
      display: grid;
      grid-auto-flow: column dense;
      grid-template-columns: 45% 45%;
      grid-template-rows: 0.5fr;
      gap: 70px 10%;
      grid-template-areas:
         ". ."
         ". .";
      justify-content: start;
      align-content: space-between;
      align-items: center;
    }
  }

  .benefits {
    & > .container {
      display: flex;
      flex-direction: column;
    }

    &-form, &-map {
      margin: 0 5% 2vh;
      width: 82%;
    }
  }

  aside {
    flex-direction: column;
  }
  .footer {
    &_socials {
      justify-content: space-between;
      padding: 0 20% 2vh;

      & div:not(:first-child) {
        margin-left: 6%;
      }
    }

    &__feedback {
      flex-direction: column;
    }

    &__copyright > .container {
      flex-direction: column;
      padding: 0 5%;
    }
  }

}

@media (max-width: 375px) {
  .menu {
    padding: 0 5%;
  }
  .hidden {
    display: block;
    width: 42px;
    margin-left: 85%;

    &__main__header {
      display: block;
    }
  }

  .feedback > .container {
    display: block;
  }

  .logo {
    display: flex;
    flex-direction: inherit;
  }

  .priority ul {
    display: none;
  }
  .main__header {
    & > .container {
      flex-direction: column;
    }

    &__header-desc {
      width: 100%;
      position: relative;
      z-index: 1;
      height: 255px;

      & p, & button {
        color: #000;
      }

      & button {
        border-color: black;
      }
    }

    &-img {
      position: absolute;
      z-index: 0;
      opacity: 0.3;

      & img {
        width: 60%;
      }
    }
  }

  h1 {
    color: #000;
  }

  .cards > .container > .wrap {
    grid-template-columns: 100%;
    grid-template-areas:
                "."
                "."
                "."
                ".";
  }

  .benefits-form img {
    width: 80px;
    height: 80px;
    padding: 80px 0;
  }
  .footer__copyright > .container {
    flex-direction: column;
    padding: 0 2% 0 2%;
    width: 96%;
  }
  .footer__feedback {
    width: 100%;
  }


}


